doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		
		h2 User Management System
		p Create new user
		form(action='/route5', method="post")
			p Firstname
			input(type='text', name='fNameField')
			p Lastname
			input(type='text', name='lNameField')
			p E-mail
			input(type='text', name='emailField')
			p 
			input(type='submit',  value='ADD!')
		
