html
	head
		//- link(rel='stylesheet', type='text/css', href='css/style.css')
		title  Homepage
		title
			| My personal website
		body
			h2 #{welcome}
		
			h1 Search user
			input(type='text' placeholder='e.g. Ahmed Jan')
			ul
				a#countryListP
		script(src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js')
		



		script.
			
			
				$("input").keyup(function(){ 


					setTimeout(function(){

					var searchField = $("input").val();

						$.get("/", { usrInput: searchField }, function(data){
						
						if(data.fName || data.lName){
							$("#countryListP").html(`${data.fName} 
								${data.lName} <br> 
							`)

						}
					});
			

					


				}, 300);


				});
			






	






