doctype html
html
	head
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	body
		
		h2 User Management System
		p Please search user below
		form(action='/SearchResults', method="post")
			input#search(type='text', name='searchField')
			input#searchButton(type='submit',  value='ZOEK!')
		
